/**
 * @author Guillaume Robin and Alexandre Saison <>
 * @file Play component stylesheet
 * @desc Created on 2019-10-23 11:08:41 pm
 * @copyright Creative Commons Attribution-NonCommercial 4.0 International License
 */
.game-background {
  background-color: #42210b;
}

.play-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#play-button {
  width: 100%;
  background-color: #3a4f5d;
  border-color: #3a4f5d;
}

#play-button:hover {
  border-color: #3a4f5d;
}

#username-input:focus {
  border-color: #3a4f5d;
}

#play-logo {
  max-width: 100%;
  margin-bottom: 2em;
}

#play-container > div {
  height: 100%;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Ipad Pro (landscape)
  ##Screen = B/w 1366px
*/
@media (min-width: 1366px) and (orientation: landscape) {
  #play-logo {
    max-width: 80%;
    margin-bottom: 2em;
  }
  #play-button {
    font-size: 2rem;
  }
  .form-control {
    font-size: 2rem !important;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #play-logo {
    max-width: 80%;
    margin-bottom: 2em;
  }
  #play-button {
    font-size: 2rem;
  }
  .form-control {
    font-size: 2rem !important;
  }
}

/* 
  ##Device = XL phones (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 823px) and (orientation: landscape) {
  #play-logo {
    max-width: 80%;
    margin-bottom: 2em;
  }
  #play-button {
    font-size: 1rem;
  }
  .form-control {
    font-size: 1rem !important;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  #play-logo {
    max-width: 70%;
    margin-bottom: 2em;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
}
